<div
    id="joke"
    class="flex max-w-sm p-mx-auto bg-white rounded-xl shadow-lg p-2 md:px-6 md:py-4 gap-4 relative"
  >
    <img id="joke-logo"
      class="w-20 md:absolute md:left-[-50px] md:top-[-50px]"
      src="{{ url_for("static", filename="img/happy.svg") }}"
    >

    <div class="text-xl font-medium text-black bg-red">
      <div id="joke-question">{{ question }}</div>
      <div id="joke-answer" class="text-slate-500 answer mt-5">{{ answer }}</div>
    </div>

</div>

<div id="buttons">
    <div id="supertab-button" class="hidden"></div>

    <div id="joke-button">
        <button onclick="countJokes()"
            class="px-4 py-2 bg-slate-200 rounded-full shadow-lg max-w-sm mx-auto flex space-x-12 text-2xl">
            Laugh again!
        </button>
    </div>
    <div class="w-1/2"></div>
    <div id="explain-button">
        <button onclick="showExplanation()"
            class="px-4 py-2 bg-slate-200 rounded-full shadow-lg max-w-sm mx-auto flex space-x-12 text-2xl">
            Explain
        </button>
    </div>
</div>

<div id="joke-explanation"
     class="flex max-w-sm p-mx-auto bg-white rounded-xl shadow-lg p-2 md:px-6 md:py-4 gap-4 relative hidden">
    <div class="text-xl font-medium text-black bg-red">
      <div id="explanation">{{ explanation }}</div>
    </div>
</div>